<div class="layerLegend" dojoAttachPoint="serviceLegendDiv">
    <div dojoAttachPoint="serviceElement" class="serviceElementOnly">
        <div style="padding-bottom:3px;">
            <input dojoAttachPoint="svcCheck">&nbsp;
            <label dojoAttachPoint="svcName" style="vertical-align: middle;">
                The Service
            </label>
        </div>
        <div dojoAttachPoint="transparencySlider">
        </div>
    </div>

	<div style="padding-left: 20px;">
		<table>
			<tbody dojoAttachPoint="layers">
				
			</tbody>
		</table>
	</div>
</div>
