<div dojoAttachPoint="rootNode" style="height:100%; width:100%; padding:0px; margin:0px;">
    <div class="exportMapServiceClipPolyContainer" dojoAttachPoint="clipPolyOptions">
        <div style="padding:5px;">
            <div style="font-weight: bold; font-size: 15pt;">
                Select Export Extent:
            </div>
            <div>
                <input type="radio" dojoType="dijit.form.RadioButton" name="clipPolyOption" value="world" checked dojoAttachPoint="worldOptionRadio">
                <label for="worldOption">
                    Worldwide
                </label>&nbsp;<input type="radio" dojoType="dijit.form.RadioButton" name="clipPolyOption" value="map" dojoAttachPoint="mapExtentOptionRadio">
                <label for="mapExtentOption">
                    Map Extent
                </label>&nbsp;<input type="radio" dojoType="dijit.form.RadioButton" name="clipPolyOption" value="custom" dojoAttachPoint="customPolyOptionRadio">
                <label for="customPolyOption">
                    Custom
                </label>
            </div>
            <div style="margin-top:10px;">

                <span dojoAttachPoint="drawPolyButtonContainer" class="show" style="display:inline;">
                    <button type="button" dojoType="dijit.form.Button" disabled="true" dojoAttachPoint="drawPolyButton">
                        Draw Polygon
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="exportMapServiceServiceSelectionContainer">
        <div style="padding:5px;">
            <div class="exportMapServiceServiceSelectionContainerPart">
                Select Service to Export:
            </div>
            <div dojoAttachPoint="serviceListContainer">
            </div>
            <div class="exportMapServiceServiceSelectionContainerPart">
                Then Select Layer(s) to Export:
            </div>
            <div dojoAttachPoint="layerListContainer">
            </div>
            <div class="exportMapServiceServiceSelectionContainerPart">
                Messages From Export Service:
            </div>
            <div dojoAttachPoint="serviceMessages">
            </div>
        </div>
    </div>
    <div class="exportMapServiceDialogButtonContainer">
        <div style="text-align:right; padding:0px; border:0px">
            <div>
                <button type="button" dojoType="dijit.form.Button" dojoAttachPoint="selectAllButton">
                    Select All
                </button>
                <button type="button" dojoType="dijit.form.Button" dojoAttachPoint="unSelectAllButton">
                    Unselect All
                </button>
                <button type="button" dojoType="dijit.form.Button" dojoAttachPoint="setToMapButton">
                    Set to Map
                </button>
            </div>
        </div>

        <div style="text-align:right; padding:0px; border:0px">
            <button type="button" dojoType="dojox.form.BusyButton" busyLabel="Exporting..." dojoAttachPoint="exportButton">
                Export
            </button>
            <button type="button" dojoType="dijit.form.Button" dojoAttachPoint="cancelButton">
                Cancel
            </button>
        </div>

    </div>
</div>
